# mkdocs.yml

# Project Information
site_name: "API PoC and Integrated Docs"
site_url: "https://gem-cp.github.io/mkdocs-api-poc/" # Change if you deploy elsewhere
repo_url: "https://github.com/gem-cp/mkdocs-api-poc"
repo_name: "gem-cp/mkdocs-api-poc"

# Theme
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: assets/gematik-logo-small.svg # gematik logo

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - admonition

# Plugins
plugins:
  - search
  - macros

# In mkdocs.yml

  # The multirepo plugin for pulling in external documentation
  - multirepo:
      cleanup: false
      keep_docs_dir: true
      nav_repos:
        # Import documentation from spec-VSDM2
        - name: spec-VSDM2
          import_url: https://github.com/gematik/spec-VSDM2
          imports: [
            # The format is: "source_path_in_repo -> destination_in_docs_folder"
            docs/*,
            images/*,
            /README.md
            ]
        # Import documentation from ZETA
        - name: "zeta"
          import_url: https://github.com/gematik/zeta/tree/main
          imports: [
            docs/*,
            images/*,
            /index.md
            ]
# Navigation
nav:
  - Home: index.md # local file
  - VSDM2:
    - VSDM2 Dokumentation: spec-VSDM2/README.md # Imported file
    - Anwendungsf채lle: spec-VSDM2/docs/vsdm_anwendungsfaelle.md # Imported file
    - Anwendungsszenarien: spec-VSDM2/docs/vsdm_anwendungsszenarien.md # Imported file
    - Prim채rsystem Interaktionen: spec-VSDM2/docs/vsdm_psinteraktionen.md # Imported file
    - Abl채ufe: spec-VSDM2/docs/vsdm_ablauf_ps.md # Imported file
    - VSDM FHIR: spec-VSDM2/docs/vsdm_fhir_infos.md # Imported file
    - VSDM Informationsmodell: spec-VSDM2/docs/vsdm_informationsmodell.md # Imported file
    - VSDM Kontext PoPP und ZETA: spec-VSDM2/docs/vsdm_kontext_popp_zt.md # Imported file
    - VSDM Pr체fziffer: spec-VSDM2/docs/vsdm_pruefziffer.md # Imported file
    - Status Codes: spec-VSDM2/docs/vsdm_statuscodes.md # Imported file
    - Error Codes: spec-VSDM2/docs/vsdm_errorcodes.md # Imported file
  - ZETA:
    - ZETA Dokumentation: zeta/index.md # Imported file
    - ZETA API v1: zeta/docs/api/v1/index.md # Imported file
    - ZETA Guard: zeta/docs/zeta-guard/index.md # Imported file
