# mkdocs.yml

# Project Information
site_name: "API PoC and Integrated Docs"
site_url: "https://gem-cp.github.io/mkdocs-api-poc/" # Change if you deploy elsewhere
repo_url: "https://github.com/gem-cp/mkdocs-api-poc"
repo_name: "gem-cp/mkdocs-api-poc"

# Theme
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: assets/gematik-logo-small.svg # gematik logo

# Extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - admonition

# Plugins
plugins:
  - search
  - macros:
      includes_dir: _includes

  # The multirepo plugin for pulling in external documentation
  - multirepo:
      repos:
        # Import documentation from 'project-alpha'
        - section: "VSDM2" # This is just a friendly name
          url: https://github.com/gematik/spec-VSDM2
          # Optional: specify a branch, tag, or commit
          rev: main
          # Define which files/dirs to import
          # The paths are relative to the root of the OTHER repo.
          paths:
            - src: docs/          # Import the entire 'docs/api' folder
              dest: spec-VSDM2/docs/
            - src: images/         # Import the entire images folder
              dest: spec-VSDM2/images/
            - src: README.md       # Import the root README file
              dest: spec-VSDM2/README.md

        # Import documentation from 'ZETA'
        - section: "ZETA"
          url: https://github.com/gematik/zeta
          rev: main
          paths:
            - src: docs/          # Import the entire 'docs/' folder
              dest: zeta/docs/
            - src: images/         # Import the entire images/ folder
              dest: zeta/images/
            - src: README.md       # Import the root README file
              dest: zeta/README.md

# Navigation
nav:
  - Home: 'index.md' # local file
  - 'VSDM2':
    - 'VSDM2 Dokumentation': 'spec-VSDM2/README.md' # Imported file
    - 'Anwendungsf채lle': 'spec-VSDM2/docs/vsdm_anwendungsfaelle.md' # Imported file
    - 'Anwendungsszenarien': 'spec-VSDM2/docs/vsdm_anwendungsszenarien.md' # Imported file
    - 'Prim채rsystem Interaktionen': 'spec-VSDM2/docs/vsdm_psinteraktionen.md' # Imported file
    - 'Abl채ufe': 'spec-VSDM2/docs/vsdm_ablauf_ps.md' # Imported file
    - 'VSDM FHIR': 'spec-VSDM2/docs/vsdm_fhir_infos.md' # Imported file
    - 'VSDM Informationsmodell': 'spec-VSDM2/docs/vsdm_informationsmodell.md' # Imported file
    - 'VSDM Kontext PoPP und ZETA': 'spec-VSDM2/docs/vsdm_kontext_popp_zt.md' # Imported file
    - 'VSDM Pr체fziffer': 'spec-VSDM2/docs/vsdm_pruefziffer.md' # Imported file
    - 'Status Codes': 'spec-VSDM2/docs/vsdm_statuscodes.md' # Imported file
    - 'Error Codes': 'spec-VSDM2/docs/vsdm_errorcodes.md' # Imported file
  - 'ZETA':
    - 'ZETA Dokumentation': 'zeta/index.md' # Imported file
    - 'ZETA API v1': 'zeta/docs/api/v1/index.md' # Imported file
    - 'ZETA Guard': 'zeta/docs/zeta-guard/index.md' # Imported file
